* {
    background-color: grey;
    border: yellowgreen;
    margin: initial;
    padding: 0;
}

.git {
    display: inline;
    margin: 20px 0 40px 100px;
    text-align: left;
}

.head {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;

}

.info {
    background-color: grey;
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.info h2 {
    flex: 0 0 15%;
    text-align: right;
    border-right: 4px solid;
    margin: 5px;
    padding: 5px;
}

.info div {
    flex: 0 0 80%;
}

div.experince {
    background-color: grey;
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

div.links {
    background-color: grey;
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

p {
    margin-bottom: 10px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.myself {
    background-image: url("https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.18169-9/10487260_10154411541230574_6146111060859831982_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_ohc=0puz5MHHzYQAX_F5rsA&tn=9w6kXSRbv7r-LQDg&_nc_ht=scontent.ffcm1-2.fna&oh=5ca8dded36e2d8c7e6a16a0d26d7826c&oe=60E78D0E");
    min-height: 650px;
    max-height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
}

ul li {
    display: inline;
    margin: 25px;
    margin-bottom: -20px;
    margin-left: -10px;
    margin-right: 40px;
}

.splash {
    background-image: url("https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    min-height: 300px;
    max-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.codeimg {
    background-image: url("https://images.unsplash.com/photo-1566241440091-ec10de8db2e1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZSUyMHJlcG9zaXRvcnl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
    min-height: 500px;
    max-height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 5px red;
    display: flex;
    flex-direction: column-reverse;
}

.codeimg:hover {
    border: solid 5px blue;
}

.codeimg h4 {
    position: relative;
    display: inline;
    top: 70%;
    /* margin: 20px; */
    padding: 20px;
    background-color: red;
}

.two {
    display: flex;
}

.two div{
    background-color:  green;
    width: 50%;
    margin: 20px;
    min-height: 150px;
    max-height: 300px;
    background-size: cover;
}

.imageOne {
    background-image: url("https://images.unsplash.com/photo-1578496480157-697fc14d2e55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

.imageTwo {
    background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}
